body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 229, 210);
}

#addBook{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#addBookPopup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0,0,0,.4);
}

#addBookContainer{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    width: 400px;
    height: auto;
    border: 5px solid black;
    border-radius: 30px;
    background-color: gray;
}

#submitBook{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border-radius: 2px solid black;
    font-family: 'Roboto Mono', monospace;
}

input, select{
    height:25px;
    border-radius: 5px;
}

footer{
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 150px;
    background-image: url('./images/books.jpeg');
    background-position: center;
    opacity: .8;
    text-align: center;
    color: white;

}

h2{
    margin: 0 auto;
    padding-top: 30px;
    font-size: 56px;
}

#add{
    width: 200px;
    height: 60px;
    margin: 50px auto;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

#add:hover{
    font-size: 24px;
}

#addDiv{
    width: 100%;
    display: flex;
}

.cardStyle{
    border: 2px solid black;
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: white;
}

.titleStyle{
    font-size: 32px;
    padding: 5px 5px 15px;
}

.authorStyle, .pagesStyle{
    padding: 0px 30px;
    font-size: 20px;
}

.readStyle, .removeBtn{
    height: 50px;
    width: 120px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.infoPanelStyle{
    overflow-wrap: anywhere;
}

.btnPanelStyle{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

#bookCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .removeBtn{
     font-family: 'Roboto Mono', monospace;
 }
